@media only screen and (max-width: 1322px) {
  .right_side {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 974px) {
  /* .flex {
    justify-content: space-around;
  } */
  .left_side {
    display: none;
  }
  .left_side .card {
    display: none;
  }

  .right_side .card:first-child {
    display: inline-block;
  }

  .right_side {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 650px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .left_side {
    margin-right: 0;
    margin-bottom: 33px;
  }

  .right_side .card {
    width: 350px;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 390px) {
  .left_side {
    min-width: 200px;
    max-width: 200px;
  }
  .right_side .card {
    width: 200px;
    margin: 0 15px;
  }
}
@media only screen and (max-width:2560px) {
 .bg-image{
    min-width: 320px;
    max-width: 2550px;
 }
}
@media  screen and (max-width:2560px) {
    ul{
      min-width: 320px;
    max-width: 2550px;

    }
    
}

@media (max-width: 2560px) {

  .menu-btn {
    display: block;
    min-width: 320px;
    max-width: 1550px;
  }
}