
.container1 {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

a {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
li{
    list-style: none;
}
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
  nav ul {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    flex-direction: column;
    background: white;
    padding: 20px;
  }

  nav.active ul {
    display: flex;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.bg-image {
  background-image: url("../images/Rectangle\ 1.jpg");
  width: 100%;
  height: 606px;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
  margin-bottom: 150px;
}
h1 {
  font-size: 79px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 19px;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left_side {
  min-width: 220px;
  max-width: 220px;
  margin-right: 50px;
}

.right_side .card {
  width: 250px;
  margin: 0 15px;
}

.right_side .card img {
  width: 100%;
}

.right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 33px;
}

.right_side .card:first-child {
  display: none;
}